* {
  box-sizing: border-box;
}
body {
  margin: 0rem;
  --page-background-color: var(--second-color);
  --page-text-color: var(--black-color);
  --lightblue-color: lightblue;
  --white-color: white;
  --gray-color: gray;
  --darksaltblue-color: darkslateblue;
  --darkgoldenrod-color: darkgoldenrod;
  --lightslategray-color: lightslategray;
  --black-color: black;

}
html {
  font-family: monospace;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

header:nth-child(1) {
  text-align: center;
  background-image: linear-gradient(90deg, var(--lightblue-color), var(--white-color));
  padding: 3rem 1rem;
  padding-top: 4.5rem;
}
main {
  max-width: 65ch;
  margin: 0 auto;
  padding: 1rem;
  
}
article + article {
  margin-top: 2.5rem;
}
header > a + a {
  margin-left: 2rem;
}
a:link {
  color: var(--gray-color);
}
a:visited {
  color: var(--darksaltblue-color);
}
a:hover {
  color: var(--darkgoldenrod-color);
}
a:active {
  color: var(--lightslategray-color);
}
::selection {
  background-color: var(--black-color);
  color: var(--white-color);
}
li a:link {
color: var(--black-color);
}
#expiriences, #skills, #findme {
  border-top: .1rem solid var(--lightblue-color);
}
.job, .job-when {
  display: flex;
  flex-direction: column;
}
h2 {
  position: relative;
  right: .5rem;
}
aside {
  position: absolute;
  top:.5rem;
  right:.5rem;
  padding:.5rem;
  border: .1rem var(--black-color);
  border-radius:.5rem;
  background-color: var(--gray-color);
  font-family: Arial, Helvetica, sans-serif;
}
.heading-group {
  font-size: 4rem;
}
.main-header {
  font-size: 1em;
}
.main-subheading {
  font-size: .25em;
}
nav {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media print {
  nav, aside{
    display: none;
  }
}

@media screen and (min-width:786px) {
  html {
    font-size: 18px;
  }
  article + article {
    margin-top: 4rem;
  }
  aside {
    position: fixed;
    top:.5rem;
    right:.5rem;
    padding:.5rem;
    border: .1rem var(--black-color);
    border-radius:.5rem;
    background-color: var(--gray-color);
    font-family: Arial, Helvetica, sans-serif;
  }
  nav {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .flexbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width:992px) {
  html {
    font-size: 20px;
  }
  article + article {
    margin-top: 5rem;
  }
  aside {
    position: fixed;
    top:.5rem;
    right:.5rem;
    padding:.5rem;
    border: .1rem var(--black-color);
    border-radius:.5rem;
    background-color: var(--gray-color);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: var(--black-color);
  --page-text-color: var(--white-color);
  }
}

footer {
  margin-top: 3rem;
  background-image: linear-gradient(270deg, var(--lightblue-color), var(--white-color));
  padding: 2rem;
}

.footer-container {
  text-align: center;
  margin: 0;
}

footer a:link {
   color: var(--black-color);
}

