* {
  box-sizing: border-box;
}
body {
  margin: 0rem;
}
html {
  font-family: monospace;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

header:nth-child(1) {
  text-align: center;
  background-image: linear-gradient(90deg, lightblue, white);
  padding: 3rem 1rem;
  padding-top: 4.5rem;
}
main {
  max-width: 65ch;
  margin: 0 auto;
  padding: 1rem;
  
}
article + article {
  margin-top: 2.5rem;
}
header > a + a {
  margin-left: 2rem;
}
a:link {
  color: darkgrey;
}
a:visited {
  color: darkslateblue;
}
a:hover {
  color: darkgoldenrod;
}
a:active {
  color: lightslategray;
}
::selection {
  background-color: black;
  color: white;
}
li a:link {
color: black;
}
#expiriences, #skills, #findme {
  border-top: .1rem solid lightblue;
}
.job, .job-when {
  display: flex;
  flex-direction: column;
}
h2 {
  position: relative;
  right: .5rem;
}
aside {
  position: absolute;
  top:.5rem;
  right:.5rem;
  padding:.5rem;
  border: .1rem black;
  border-radius:.5rem;
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
.heading-group {
  font-size: 4rem;
}
.main-header {
  font-size: 1em;
}
.main-subheading {
  font-size: .25em;
}
nav {
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

@media print {
  nav, aside{
    display: none;
  }
}

@media screen and (min-width:786px) {
  html {
    font-size: 18px;
  }
  article + article {
    margin-top: 4rem;
  }
  aside {
    position: fixed;
    top:.5rem;
    right:.5rem;
    padding:.5rem;
    border: .1rem black;
    border-radius:.5rem;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .flexbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width:992px) {
  html {
    font-size: 20px;
  }
  article + article {
    margin-top: 5rem;
  }
  aside {
    position: fixed;
    top:.5rem;
    right:.5rem;
    padding:.5rem;
    border: .1rem black;
    border-radius:.5rem;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
  }
}

footer {
  margin-top: 5rem;
  background-image: linear-gradient(270deg, lightblue, white);
  padding: 2rem;
  text-align: center;
}

